.about-us {
    color: white;
}

.who-we-are {
    position: relative;
    background-color: #271646;
    /* color: white; */
    box-sizing: border-box;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 3em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    /* width: 1150px; */
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 7rem;
}

.content .image {
    position: relative;
    overflow: hidden;
    width: 37.549vw;
    height: 26.324vw;
    z-index: 80;
}

.content .image img {
    z-index: 80;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 85;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 47.431vw    ;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    font-size: 1.1rem;
}

.content .text-box1 {
    transform: translate(-20px, 80px);
}

.content .text-box2 {
    transform: translate(20px, 80px);
}