.about-us {
    word-spacing: 0.3rem;
    color: white;
}

.who-we-are {
    position: relative;
    background-color: #271646;
    /* color: white; */
    box-sizing: border-box;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
}

.mission {
    padding: 80px 30px;
    background-color: #906cd4;
    border: #47258a;
    border-style: double;
    border-width: 50px;
    
    /* margin: 0 20px; */
}

.organization-structure {
    background-color:  #47258a;
    padding: 40px 30px;
    /* border-color: #906cd4; */
    /* border-style: outset; */
    /* border-width: 50px; */
}

.container .text-box5 {
    padding: 40px 30px;
    background-color: #7091F5;
    text-align: center;
    word-spacing: 0.5rem;
    border-radius: 1.6rem;
    border-color: #495e9d;
    border-width: 20px;
    border-style: inset;
}

.text-box5-cont {
    font-size: 1.25rem;
    padding: 0 40px;
}

.text-box6-cont {
    font-size: 1.1rem;
    padding: 0 40px;
    text-align: left;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 3em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    /* width: 1150px; */
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 7rem;
}

.content .image {
    position: relative;
    overflow: hidden;
    width: 37.549vw;
    height: 26.324vw;
    z-index: 80;
}

.content .image img {
    z-index: 80;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 85;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 47.431vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    font-size: 1.1rem;
}

.content .text-box1 {
    transform: translate(-20px, 80px);
}

.content .text-box2 {
    transform: translate(20px, 80px);    
}

.content .text-box3 {
    z-index: 85;
    /* background: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(20px); */
    padding: 40px 40px 0;
    max-width: 47.431vw;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    /* transform: translate(-80px, 50px); */
    font-size: 1.2rem;

}

.text-box4 {
    font-size: 1.25rem;
    word-spacing: 0.5rem;
    padding: 0 30px;
}

.our-story {
    font-size: 1em;
    /* margin-bottom: 80px; */
    padding: 80px;
    background-color: #47258a;
} 

.our-story-info {
    /* width: 700px; */
    margin-left: 200px;
}

@media screen and (max-width: 850px) {

    .content .image {
        /* position: relative; */
        /* overflow: hidden; */
        width: 60vw;
        height: 42vw;
        /* z-index: 80; */
        /* margin-top: 50px; */
    }

    .content {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    
    .content .text-box {
        z-index: 85;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        padding: 40px;
        max-width: 80vw    ;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        /* transform: translate(-80px, 50px); */
        font-size: 1.1rem;
        /* margin: 0px 0; */
    }

    .content .img-1 {
        position: absolute;
        margin-top: -250px;
    }

    .content .text-box2 {
        margin-top: 400px;
    }

    .content .text-box3 {
        /* width: 10000px; */
        padding: 40px 0;
    }
    
}
