* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
}

.timer {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5em;
    width: 100%;
    height: 100%;
}

.timer div:first-child {
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.timer div:last-child {
    border: 1px solid;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 1.5em;
    padding: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.countdown-sec p:first-child, .timer div:last-child span {
    font-size: 1.7em;
}

@media screen and (max-width: 480px) {
    .timer div:last-child {
        margin-left: 2em;
        margin-right: 2em;
        padding: 3em 1em;
        width: 100%;
    }
}