body {
    background-color: rgb(58 41 172);
}
.hero-section {
    width: 80%;
    margin: 3rem auto;
    /* padding: 3rem auto; */
    /* background-color: #000;    */
    color: white;
}

.hero-section-image {
    width: 100%;
}

.hero-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.hero-section-text h1{
    font-size: 4rem;
    /* line-height: rem; */
    /* padding-right: 3rem; */
}

.hero-section-text {
    padding-right: 3rem;
}

.hero-section-text p{
    font-size: 1.4rem;
    word-spacing: 0.3rem;
}

@media screen and (max-width: 850px) {

    .hero-section {
        width: 80%;
    }

    .hero-section-text {
        padding-right: 0;
    }

    .hero-section-grid {
        grid-template-columns: 1fr;
        /* gap: 2rem; */
    }

    .hero-section-image {
        width: 100%;
    }

}